<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid APP</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="plugins/tailwind/tailwind.min.css">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <div id="app">

        <div class="px-2 py-3">
            <div class="block my-1 text-center">
                😷
            </div>
            <ul class="flex border-b">
                <li class="mr-1">
                    <a class="bg-white inline-block py-2 px-4 text-indigo-500 hover:text-indigo-800 font-semibold"
                        href="index.html">Home</a>
                </li>
                <li class="mr-1">
                    <a class="bg-white inline-block py-2 px-4 text-indigo-500 hover:text-indigo-800 font-semibold"
                        href="view-cases.html">Cases</a>
                </li>
                <li class="mr-1">
                    <a class="bg-white inline-block py-2 px-4 text-indigo-500 hover:text-indigo-800 font-semibold"
                        href="view-places.html">Places</a>
                </li>
                <li class="-mb-px mr-1">
                    <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-indigo-700 font-semibold"
                        href="me.html">Me</a>
                </li>
            </ul>
        </div>

        <section class="text-gray-700 body-font">
            <div class="container px-5 py-5 mx-auto">
                <div class="col-sm-2 sp sp-volume w-full" v-if="loading"></div>
                <div class="flex flex-wrap -m-2">
                    <p v-if="ownPlaces.length == 0 && !loading" class="mt-2">You have visited no places</p>
                    <p v-if="notOwnedPlaces.length == 0 && !loading" class="mt-2">There are no other places to show</p>
                    <div class="p-2 lg:w-1/3 md:w-1/2 w-full" v-for="oplace in ownPlaces">
                        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                            <div class="inline-block relative w-full">
                                <label class="text-gray-700">{{oplace.name}}</label>
                                <input class="absolute right-0 mt-1" type="checkbox" :value="oplace.id" v-model="checkedPlaces">
                            </div>
                        </div>
                    </div>
                    <div class="p-2 lg:w-1/3 md:w-1/2 w-full" v-for="noplace in notOwnedPlaces">
                        <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                            <div class="inline-block relative w-full">
                                <label class="text-gray-700">{{noplace.name}}</label>
                                <input class="absolute right-0 mt-1" type="checkbox" :value="noplace.id" v-model="checkedPlaces">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="plugins/moment/moment.min.js"></script>
    <script src="plugins/axios/axios.min.js"></script>
    <script src="plugins/lodash/lodash.js"></script>
    <script src="plugins/vue/vuedev.js"></script>

    <script src="assets/js/api.service.js"></script>
    <script src="assets/js/me.page.js"></script>
</body>

</html>